%section.ten-oh-announcement
  .ten-oh-label
    %span 11.6
  .ten-oh-description
    .container
      .row
        .col-sm-10.col-sm-offset-1
          .ten-oh-description-body.text-center
            %h2.main-heading New features every month
            %p.u-margin-bottom-xs
              GitLab 11.6 released with Serverless, Group-level Kubernetes Clusters, Suggested Changes, Web Terminal for Web IDE, the Group Security Dashboard Vulnerability Chart, and much more!

            .btn-group
              %a.btn.cta-btn.btn-white.margin-top20.hero-cta.hero-release-link{href: "/2018/12/22/gitlab-11-6-released/"}
                See what’s new
